{% extends "main.html" %}
{% block head %}
<link href="/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
<script src="/plugins/dropzone/dropzone.min.js"></script>
<!--<script src="/js/demo/form-file-upload.js"></script>-->

<link href="/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<link href="/plugins/animate-css/animate.min.css" rel="stylesheet">
<script src="/js/demo/ui-modals.js"></script>
<link href="/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>


{% endblock %}

{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Input size</h3>
    </div>

    <div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">图片</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8 col-xs-9">
                            <input type="text" class="form-control" value="https://img.alicdn.com/imgextra/i3/2214933827694/O1CN01kNVZUI26huDQ0foGc_!!2214933827694.jpg" id="download-pic-input">
                        </div>
                        <button id="download-pic-btn" class="col-sm-2 col-xs-3 btn btn-primary btn-sm">
                            下载图片
                        </button>
                    </div>
                    <div class="row">
		                <img id="cropper-main-pic-img" style="height: 300px;" class="col-sm-12"></img>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="cropper-btn" class="col-sm-2 col-xs-3 btn btn-default btn-sm">裁切</button>
                    <button id="confirm-cropper-btn" class="col-sm-2 col-xs-3 btn btn-primary btn-sm">确认</button>
                    <button id="cancel-cropper-btn" class="col-sm-2 col-xs-3 btn btn-danger btn-sm">取消</button>
                </div>
            </div>
        </div>
    </div>



    <!--Input Size-->
    <!--===================================================-->
<!--    <form class="form-horizontal" action="/a/add" enctype="application/x-www-form-urlencoded" method="post">-->
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <div class="col-sm-3 col-sm-offset-3">
                    <div id="demo-error-container" class="bg-gray-light">
                        {% for item in error_msg %}
                        <small class="help-block" style="">{{ item }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">主图</label>
                <div class="col-sm-3">
                    <img id="main-pic-img" width="80px" height="60px" data-target="#demo-default-modal" data-toggle="modal"/>
                </div>
<!--                <div class="col-sm-6">-->
<!--                    &lt;!&ndash; The fileinput-button span is used to style the file input field as button &ndash;&gt;-->
<!--                    <span class="btn btn-success fileinput-button dz-clickable">-->
<!--					                        <i class="fa fa-plus"></i>-->
<!--					                        <span>Add files...</span>-->
<!--					                    </span>-->

<!--                    <div class="btn-group pull-right">-->
<!--                        <button id="dz-upload-btn" class="btn btn-primary" type="submit" disabled>-->
<!--                            <i class="fa fa-upload-cloud"></i> Upload-->
<!--                        </button>-->
<!--                        <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" disabled>-->
<!--                            <i class="demo-pli-cross"></i>-->
<!--                        </button>-->
<!--                    </div>-->

<!--                    <div id="dz-previews">-->
<!--                        <div id="dz-template" class="pad-top bord-top">-->
<!--                            <div class="media">-->
<!--                                <div class="media-body">-->
<!--                                    &lt;!&ndash;This is used as the file preview template&ndash;&gt;-->
<!--                                    <div class="media-block">-->
<!--                                        <div class="media-left">-->
<!--                                            <img class="dz-img" data-dz-thumbnail>-->
<!--                                        </div>-->
<!--                                        <div class="media-body">-->
<!--                                            <p class="text-main text-bold mar-no text-overflow"-->
<!--                                               data-dz-name></p>-->
<!--                                            <span class="dz-error text-danger text-sm"-->
<!--                                                  data-dz-errormessage></span>-->
<!--                                            <p class="text-sm" data-dz-size></p>-->
<!--                                            <div id="dz-total-progress" style="opacity:0">-->
<!--                                                <div class="progress progress-xs active"-->
<!--                                                     role="progressbar" aria-valuemin="0"-->
<!--                                                     aria-valuemax="100" aria-valuenow="0">-->
<!--                                                    <div class="progress-bar progress-bar-success"-->
<!--                                                         style="width:0%;" data-dz-uploadprogress></div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="media-right">-->
<!--                                    <button data-dz-remove class="btn btn-xs btn-danger dz-cancel"><i-->
<!--                                            class="demo-pli-cross"></i></button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">名字</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm" value="{{ keyboard_switch.name }}" id="demo-is-inputsmall" name="name">
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputnormal" class="col-sm-3 control-label">工作室</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="demo-is-inputnormal" value="{{ keyboard_switch.studio }}" name="studio">
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputnormal" class="col-sm-3 control-label">生厂商</label>
                <div class="col-sm-3">
                    <select class="selectpicker">
                        {% for item in manufacturers %}
                            <option value="{{ item.word }}" {{ 'selected' if item.word == keyboard_switch.manufacturer else '' }}>{{ item.word }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">类型</label>
                <div class="col-sm-3">
                    <select class="selectpicker">
                        {% for item in switch_types %}
                        <option value="{{ item.word }}" {{ 'selected' if item.word == keyboard_switch.type else '' }}>{{ item.word }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">TAG</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm" value="{{ keyboard_switch.tag }}" id="demo-is-inputlarge">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">相关描述</label>
                <div class="col-sm-3">
                    <input type="text" placeholder="上盖" class="form-control" value="{{ keyboard_switch.desc }}">
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <button class="btn btn-mint" type="submit">保存</button>
                    <button class="btn btn-warning" type="reset">Reset</button>
                </div>
            </div>
        </div>
<!--    </form>-->
    <!--===================================================-->
    <!--End Input Size-->


</div>
{% endblock %}



