<!DOCTYPE html>
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Keyboard Switches</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <!--    5.0.0-alpha1 -> 5.0.0-alpha2-->
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet"
          href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <!--    无版本 -> 2.5.5-->
    <link rel="stylesheet" href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/ionicons/2.0.0/css/ionicons.min.css">
    <link rel="stylesheet"
          href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/animate.css/4.1.1/animate.min.css">
    <!--    无版本 -> 4.1.1-->

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <script src="https://unpkg.com/turbolinks"></script>
    <style>
        .preloader {
            position: fixed;
            top: 0;
            z-index: 9999;
            background: #fff;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: height 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .preloader.loaded {
            height: 0;
        }

        .preloader h1 {
            color: black;
        }

        .disabled-link {
            pointer-events: none;
            color: rgb(128, 128, 128);
            text-decoration: none;
        }

        .factoryItem {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }

        .manufacturer-text {
            color: #6a7964;
            font-weight: bold
        }

        .filterTag {
            border: 1px solid #6a7964;
            color: #6a7964;
            font-size: 14px;
            font-weight: 500;
            margin: 10px 10px 0 0;
            padding: 4px 5px 4px 8px;
            display: inline-block;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            .d-flex-row {
                flex-direction: row;
            }
        }

        @media only screen and (max-width: 767px) {
            .d-flex-row {
                flex-direction: row;
            }
        }
    </style>
</head>

<body>
<div class="preloader text-white fs-6 text-uppercase overflow-hidden"><h1>loading...</h1></div>
{% include 'new/canvas_menu.html' %}

<header class="header_section border-bottom">
    {% include 'component/header-top.html' %}

    {% include 'new/main_header.html' %}

</header>


<div class="shop_section shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div id="switchesFilter">
                            {{ switches_filter | safe }}
                        </div>
                        <div class="widget_list">
                            <h2>热门 Switches</h2>
                            <div class="recent_product">
                                {% for item in hot_switches %}
                                <div class="recent_product_list d-flex mb-25">
                                    <div class="recent_thumb">
                                        <a href="/collections/products/{{ item.id }}" target="_blank"><img src="{{ item.pic }}?x-process=image/convert,m_webp" alt=""></a>
                                    </div>
                                    <div class="recent_content">
                                        <h4><a href="/collections/products/{{ item.id }}" target="_blank">{{ item.name }}</a></h4>
                                        <span>{{ item.studio }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->

                {% set breadcrumb_list=['主页', '客制化轴体'] %}
                {% include 'new/breadcrumbs.html' %}
                <div id="switchesMain">
                    {{ switches_wrapper | safe }}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'new/footer_widgets.html' %}

<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/wow/1.1.2/wow.min.js"></script> <!--    v1.3.0 -> 1.1.2-->
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
    $(document).on('turbolinks:load', function () {
        $(".preloader").addClass("loaded");
    });
    {#console.log({{page | tojson}})#}
</script>

<script>
    var $searchInput = $('#searchInput');
    $searchInput.keyup(function (event){
        if (event.keyCode === 13) {
            initFilter()
        }
    })
    $('#switchesMain').on('click', '.pagination a', function (event){
        event.preventDefault();
        var page = $(this).data('value')
        if (page === '#') {
            return;
        }
        initFilter(page)
    }).on('click', '#searchBtn', function (){
        $('.page_search_box').removeClass('active')
        initFilter()
    })

    $('#switchesFilter').on('click', '#typeFilter a', function (event){
        event.preventDefault();
        $(this).parent().addClass('manufacturer-text')
        initFilter()
    }).on('click', '.filterTag', function (){
        var tagValue = $(this).data('value');  // 获取 filterTag 的值
        $(this).remove();  // 移除当前 filterTag
        if (tagValue.startsWith('搜索:')) {
            $searchInput.val('')
        }else if(tagValue.startsWith("状态:")){
            var available = $(this).data('available')
            $('li.availableItem').each(function() {
                var liValue = $(this).data('value');
                if (liValue === available) {
                    var checkbox = $(this).find('input.switchFactoryCheck');
                    checkbox.prop('checked', false);  // 取消勾选
                }
            });
        }else if(tagValue.startsWith("分类:")){
            $('#typeFilter li.manufacturer-text').each(function (){
                $(this).removeClass('manufacturer-text')
            })
        }else {
            // 找到与 filterTag 对应的 li，取消勾选并恢复样式
            $('li.factoryItem').each(function() {
                var liValue = $(this).data('value');
                if (liValue === tagValue) {
                    var checkbox = $(this).find('input.switchFactoryCheck');
                    checkbox.prop('checked', false);  // 取消勾选
                }
            });
        }
        initFilter();  // 调用 initFilter 函数
    }).on('click', '.factoryItem', function (){
        var dataField = $(this).data('field')
        if (dataField === 'manufacturer') {
            if (!$(event.target).is('input')) {
                var checkbox = $(this).find('input.switchFactoryCheck');
                checkbox.prop('checked', !checkbox.prop('checked'));
            }
        } else if(dataField === 'is_available'){
            var currentLi = $(this);
            // 取消同级 li 的选中状态
            currentLi.siblings().each(function() {
                $(this).find('input.switchFactoryCheck').prop('checked', false); // 取消 input 的勾选
            });

            // 设置当前 li 为选中状态
            var checkbox = currentLi.find('input.switchFactoryCheck');
            checkbox.prop('checked', true); // 设置 input 为选中状态
        }

        initFilter()
    }).on('click', '.switchFactoryCheck', function (event){
        event.stopPropagation(); // 阻止事件冒泡到 li 上
        var dataField = $(this).parent().data('field')
        if(dataField === 'is_available') {
            $('li.availableItem').each(function() {
                var checkbox = $(this).find('input.switchFactoryCheck');
                checkbox.prop('checked', false);  // 取消勾选
            });
            $(this).prop('checked', true)
        }
        initFilter()
    })
    function initFilter(page='1'){
        let qs = ['page='+page]

        var manufacturerList = []
        $('li.factoryItem input:checked').each(function() {
            var parentLi = $(this).closest('li.factoryItem'); // 获取父级 li.factoryItem
            var dataField = parentLi.attr('data-field');
            var dataValue = parentLi.attr('data-value')

            if (dataField === 'manufacturer') {
                manufacturerList.push(dataValue)
            }
            if(dataField === 'is_available' && dataValue !== '1') {
                qs.push('is_available=' + dataValue)
            }
        });


        if (manufacturerList.length > 0) {
            qs.push('manufacturer=' + manufacturerList.join(','))
        }
        if ($('li.availableItem input.switchFactoryCheck:checked').length <= 0){
            qs.push('is_available=0')
        }

        let searchVal = $searchInput.val();
        if (searchVal !== '') {
            qs.push('s='+searchVal)
        }
        if (window.innerWidth <= 800) {
            qs.push('size=8')
        }
        $('#typeFilter li.manufacturer-text').each(function (){
            qs.push('t=' + $(this).data('value'))
        })

        let url = '/apih/filter/switches?'+ qs.join('&')
        $.ajax({
            type: 'GET', url: url,
            contentType: 'text/html',
            success: function (data) {
                var htmlParts = data.split('<!--SPLIT-->');
                $('#switchesMain').empty().append(htmlParts[0])
                $('#switchesFilter').empty().append(htmlParts[1])
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

</script>

</body>
</html>