{% extends "collections-main.html" %}
{% block head %}
    <style>
    .factoryItem {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }

        .manufacturer-text {
            color: #6a7964;
            font-weight: bold
        }

        .filterTag {
            border: 1px solid #6a7964;
            color: #6a7964;
            font-size: 14px;
            font-weight: 500;
            margin: 10px 10px 0 0;
            padding: 4px 5px 4px 8px;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
<div class="shop_section shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div id="switchesFilter">
                            {{ switches_filter | safe }}
                        </div>
                        <div class="widget_list" style="padding-top: 20px;">
                            <h2>热门轴体</h2>
                            <div class="recent_product">
                                {% for item in hot_switches %}
                                <div class="recent_product_list d-flex mb-25">
                                    <div class="recent_thumb">
                                        <a href="/collections/products/{{ item.id }}" target="_blank"><img src="{{ item.pic }}?x-process=image/convert,m_webp" alt=""></a>
                                    </div>
                                    <div class="recent_content">
                                        <h4><a href="/collections/products/{{ item.id }}" target="_blank">{{ item.name }}</a></h4>
                                        <span>{{ item.studio }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->

                {% set breadcrumb_list=['主页', '客制化轴体'] %}
                {% include 'new/breadcrumbs.html' %}
                <div id="switchesMain">
                    {{ switches_wrapper | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
   {% endblock %}
    {% block footer %}
    <script>
    $('#switchesMain').on('click', '.pagination a', function (event){
        event.preventDefault();
        var page = $(this).data('value')
        if (page === '#') {
            return;
        }
        initFilter(page)
    }).on('click', '#searchBtn', function (){
        initFilter()
    }).on('keydown', '#searchInput', function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            initFilter()
        }
    }).on('click', '.shop_toolbar_btn ul li a', function (e) {
    		e.preventDefault();

            $('.shop_toolbar_btn ul li a').removeClass('active');
    		$(this).addClass('active');

    		var parentsDiv = $('.shop_wrapper');
    		var viewMode = $(this).data('role');

    		parentsDiv.removeClass('grid_3 grid_4 grid_5 grid_list').addClass(viewMode);

    		if(viewMode === 'grid_3'){
    			parentsDiv.children().addClass('col-lg-4 col-md-4 col-sm-6').removeClass('col-lg-3 col-cust-5 col-12');

    		}

    		if(viewMode === 'grid_4'){
    			parentsDiv.children().addClass('col-lg-3 col-md-4 col-sm-6').removeClass('col-lg-4 col-cust-5 col-12');
    		}

            if(viewMode === 'grid_list'){
    			parentsDiv.children().addClass('col-12').removeClass('col-lg-3 col-lg-4 col-md-4 col-sm-6 col-cust-5');
    		}

    }).on('click', 'a.studManuSpan', function (event){
        event.preventDefault();
        var stu = $(this).data('studio')
        var manu = $(this).data('manufacturer')
        if (manu !== stu) {
            $('#studioInput').val(stu)
        }
        $('li.factoryItem').each(function() {
                if ($(this).data('value') === manu && $(this).data('field') === 'manufacturer') {
                    var checkbox = $(this).find('input.switchFactoryCheck');
                    checkbox.prop('checked', true);  // 取消勾选
                }
            });
        initFilter()
    })

    $('#switchesFilter').on('click', '#typeFilter a', function (event){
        event.preventDefault();
        var $this = $(this).parent()
        var clickValue = $this.data('value')

        $('#typeFilter li').each(function() {
            if ($(this).data('value') !== clickValue) {
                $(this).removeClass('manufacturer-text')
            }
        });
        if($this.find('span').text().includes('✓')){
            $this.removeClass('manufacturer-text')
        }else {
            $this.addClass('manufacturer-text')
        }
        initFilter()
    }).on('click', '.filterTag', function (){
        var tagValue = $(this).data('value');  // 获取 filterTag 的值
        $(this).remove();  // 移除当前 filterTag
        if (tagValue.startsWith('搜索:')) {
            $('#searchInput').val('')
            $('#defaultAvailable').prop('checked', true)
        }else if(tagValue.startsWith("状态:")){
            var available = $(this).data('available')
            $('li.availableItem').each(function() {
                var liValue = $(this).data('value');
                if (liValue === available) {
                    var checkbox = $(this).find('input.switchFactoryCheck');
                    checkbox.prop('checked', false);  // 取消勾选
                }
            });
        }else if(tagValue.startsWith("分类:")){
            $('#typeFilter li.manufacturer-text').each(function (){
                $(this).removeClass('manufacturer-text')
            })
        }  else if(tagValue.startsWith("触发行程:")){
            $( "#travelSliderRange" ).slider('option', 'values', [8, 26])
        } else if(tagValue.startsWith("触底行程:")){
            $( "#totalTravelSliderRange" ).slider('option', 'values', [26, 40])
        }else if(tagValue.startsWith("触发压力:")){
            $( "#forceSliderRange" ).slider('option', 'values', [10, 70])
        } else if(tagValue.startsWith("触底压力:")){
            $( "#totalForceSliderRange" ).slider('option', 'values', [20, 100])
        } else if(tagValue.startsWith("工作室")){
            $('#studioInput').val("")
        } else if(tagValue.startsWith('Store:')){
            $('#storBoxInput').val('')
        } else {
            // 找到与 filterTag 对应的 li，取消勾选并恢复样式
            $('li.factoryItem').each(function() {
                var liValue = $(this).data('value');
                if (liValue === tagValue) {
                    var checkbox = $(this).find('input.switchFactoryCheck');
                    checkbox.prop('checked', false);  // 取消勾选
                }
            });
        }
        initFilter();  // 调用 initFilter 函数
    }).on('click', '.factoryItem', function (event){
        var dataField = $(this).data('field')
        if (dataField === 'manufacturer' || dataField === 'stem_mat' || dataField === 'top_mat' || dataField === 'bottom_mat') {
            if (!$(event.target).is('input')) {
                var checkbox = $(this).find('input.switchFactoryCheck');
                checkbox.prop('checked', !checkbox.prop('checked'));
            }
        } else if(dataField === 'is_available'){
            var currentLi = $(this);
            // 取消同级 li 的选中状态
            currentLi.siblings().each(function() {
                $(this).find('input.switchFactoryCheck').prop('checked', false); // 取消 input 的勾选
            });

            // 设置当前 li 为选中状态
            var checkbox = currentLi.find('input.switchFactoryCheck');
            checkbox.prop('checked', true); // 设置 input 为选中状态
        }

        initFilter()
    }).on('click', '.switchFactoryCheck', function (event){
        event.stopPropagation(); // 阻止事件冒泡到 li 上
        var dataField = $(this).parent().data('field')
        if(dataField === 'is_available') {
            $('li.availableItem').each(function() {
                var checkbox = $(this).find('input.switchFactoryCheck');
                checkbox.prop('checked', false);  // 取消勾选
            });
            $(this).prop('checked', true)
        }
        initFilter()
    })

    function initFilter(page='1'){
        let qs = ['page='+page]

        var manufacturerList = []
        var stems = []
        var top_mat = []
        var bottom_mat = []
        let is_available = 1
        $('li.factoryItem input:checked').each(function() {
            var parentLi = $(this).closest('li.factoryItem'); // 获取父级 li.factoryItem
            var dataField = parentLi.attr('data-field');
            var dataValue = parentLi.attr('data-value')

            if (dataField === 'manufacturer') {
                manufacturerList.push(dataValue)
            }
            if(dataField === 'is_available' && dataValue !== '1') {
                is_available = dataValue
            }
            if(dataField === 'stem_mat'){
                stems.push(dataValue)
            }
            if (dataField === 'top_mat'){
                top_mat.push(dataValue)
            }
            if (dataField === 'bottom_mat'){
                bottom_mat.push(dataValue)
            }
        });


        if (manufacturerList.length > 0) {
            qs.push('manufacturer=' + manufacturerList.join(','))
        }
        if (stems.length > 0){
            qs.push('stem=' + stems.join(','))
        }
        if (top_mat.length > 0) {
            qs.push('top_mat=' + top_mat.join(','))
        }
        if (bottom_mat.length > 0) {
            qs.push('bottom_mat=' + bottom_mat.join(','))
        }
        if ($('li.availableItem input.switchFactoryCheck:checked').length <= 0){
            is_available = 0
        }

        var searchText = $('#searchInput').val()
        if (searchText !== '') {
            qs.push('s='+searchText)
            is_available = 0
        }
        if (window.innerWidth <= 800) {
            qs.push('size=8')
        }
        $('#typeFilter li.manufacturer-text').each(function (){
            qs.push('t=' + $(this).data('value'))
        })
        qs.push('is_available=' + is_available)
        var studio = $('#studioInput').val()
        if (studio !== ''){
            qs.push('studio=' + studio)
        }
        var storBox = $('#storBoxInput').val()
        if (storBox !== '') {
            qs.push('stor_box=' + storBox)
        }

        var travels = $( "#travelSliderRange" ).slider("values")
        if (travels[0] !== 8) {
            qs.push('min_travel=' + travels[0])
        }
        if (travels[1] !== 26) {
            qs.push('max_travel=' + travels[1])
        }

        var totalTravels = $( "#totalTravelSliderRange" ).slider("values")
        if (totalTravels[0] !== 26) {
            qs.push('min_total_travel=' + totalTravels[0])
        }
        if (totalTravels[1] !== 40) {
            qs.push('max_total_travel=' + totalTravels[1])
        }

        var forces = $( "#forceSliderRange" ).slider("values")
        if (forces[0] !== 10) {
            qs.push('min_force=' + forces[0])
        }
        if (forces[1] !== 70) {
            qs.push('max_force=' + forces[1])
        }

        var totalForces = $( "#totalForceSliderRange" ).slider("values")
        if (totalForces[0] !== 20) {
            qs.push('min_total_force=' + totalForces[0])
        }
        if (totalForces[1] !== 100) {
            qs.push('max_total_force=' + totalForces[1])
        }

        let url = '/apih/filter/switches?'+ qs.join('&')
        $.ajax({
            type: 'GET', url: url,
            contentType: 'text/html',
            success: function (data) {
                var htmlParts = data.split('<!--SPLIT-->');
                $('#switchesMain').empty().append(htmlParts[0])
                $('#switchesFilter').empty().append(htmlParts[1])
                $('html, body').animate({ scrollTop: 100 }, 'slow');
                inifSliderRnage()
            },
            error: function (err) {
                console.log(err)
            }
        })
    }
    inifSliderRnage()
    function inifSliderRnage(){
        slider($( "#travelSliderRange" ))
        slider($("#totalTravelSliderRange"))
        slider($('#forceSliderRange'))
        slider($('#totalForceSliderRange'))
    }
    function slider($slider) {
        var min = $slider.data('min')
        var max = $slider.data('max')
        var unit = $slider.data('unit')
        $slider.slider({
            range: true,
            min: $slider.data('range-min'),
            max: $slider.data('range-max'),
            values: [ min, max ],
            slide: function( event, ui ) {
                $(this).closest('form').find('input[name="text"]').val(
                    (unit === 'mm' ? ui.values[0]/10 : ui.values[0])
                    + unit + " - "
                    + (unit === 'mm' ? ui.values[1]/10 : ui.values[1])
                    + unit );
            },
            stop: function (event, ui){
                initFilter(1)
            },
            create: function (event, ui) {
                $(this).closest('form').find('input[name="text"]').val(
                    (unit === 'mm' ? min/10 : min)
                    + unit + " - "
                    + (unit === 'mm' ? max/10 : max)
                    + unit
                );
            }
        });
    }
    </script>
{% endblock %}