<!DOCTYPE html>
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Keyboard Switches</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.staticfile.net/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.net/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://n.onlybox.cn/switches-quest/bigp.css">
    <link rel="stylesheet" href="https://n.onlybox.cn/switches-quest/style.css">

    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js" type="application/javascript"></script>
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/art-template/4.13.2/lib/template-web.min.js"></script>
    <script src="https://cdn.staticfile.net/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <style>
        .product-label {
            position: absolute;               /* 绝对定位 */
            top: 10px;                        /* 距离图片顶部的距离 */
            left: 10px;                       /* 距离图片左边的距离 */
            background: linear-gradient(45deg, #ff6f61, #d45050); /* 线性渐变背景 */
            color: #fff;                      /* 标签文字颜色 */
            padding: 0px 5px;                /* 内边距 */
            border-radius: 2px;               /* 圆角边框 */
            font-size: 12px;                  /* 字体大小 */
            font-weight: bold;                /* 字体加粗 */
            z-index: 1;                       /* 确保标签显示在图片上方 */
        }
    </style>
</head>

<body>

<!-- 添加导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="favicon.ico" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/icgb">ICGB</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-wrapper">

    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarLabel">筛选</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% set mediaFilter = '' %}
            {% include 'component/filter-is_available.html' %}
            {% include 'component/filter-manufacturer.html' %}
        </div>
      </div>

          
     
    <!-- main-content-wrap start -->
    <div class="main-content-wrap shop-page section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-1">
                    <!-- Shop Sidebar Wrap Start -->
                    <div class="shop-sidebar-wrap">
                        <div class="shop-sidebar mb-30">
                            <h4 class="title" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                                筛选 <span class="filterSize">(1)</span>
                                <span class="toggle-btn__chevron ltr-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><title>Right</title><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                            </h4>
                            <div class="sidebar-tag">
                                <div class="align-items-center filterTag" data-field="is_available" data-value="true">
                                    仓库中
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </div>
                            </div>
                        </div>

                        <!-- Shop Sidebar Category Start -->
<!--                        <div class="shop-sidebar mb-30">-->
<!--                            <h4 class="title">分类 CATEGORIES</h4>-->
<!--                            <ul class="text-capitalize" id="switchTypeList">-->
<!--                                <li><a onclick="filterSwitchesType(this, 0)">线性</a></li>-->
<!--                                <li><a onclick="filterSwitchesType(this, 1)">段落 </a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                        <!-- Shop Sidebar End -->


                        <!-- Shop Sidebar Price Start -->
<!--                        <div class="shop-sidebar mb-30">-->
<!--                            <h4 class="title">触发压力区间 OPERATION FORCE RANGE</h4>-->
<!--                            &lt;!&ndash; filter-price-content start &ndash;&gt;-->
<!--                            <div class="filter-price-content">-->
<!--                                <form action="http://120.77.13.71/dev#" method="post">-->
<!--                                    <div id="force-slider"-->
<!--                                         class="price-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">-->
<!--                                        <div class="ui-slider-range ui-widget-header ui-corner-all"-->
<!--                                             style="left: 0%; width: 37.5%;"></div>-->
<!--                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"-->
<!--                                              style="left: 0%;"></span><span-->
<!--                                            class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"-->
<!--                                            style="left: 37.5%;"></span></div>-->
<!--                                    <div class="filter-price-wapper">-->
<!--                                        <div class="filter-price-cont">-->
<!--                                            <span>压力:</span>-->
<!--                                            <div class="input-type">-->
<!--                                                <input type="text" id="min-force" readonly="" style="width: 53px;">-->
<!--                                            </div>-->
<!--                                            <span>—</span>-->
<!--                                            <div class="input-type">-->
<!--                                                <input type="text" id="max-force" readonly="" style="width: 57px;">-->
<!--                                            </div>-->
<!--                                            <a class="add-to-cart-button"-->
<!--                                               onclick="filterSwitchesOperateForceRange(true)">-->
<!--                                                <span>应用</span>-->
<!--                                            </a>-->
<!--                                            <a id="resetOperateForceButton" class="add-to-cart-button"-->
<!--                                               style="display: none;" onclick="filterSwitchesOperateForceRange(false)">-->
<!--                                                <span>重置</span>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; filter-price-content end &ndash;&gt;-->
<!--                        </div>-->
                        <!-- Shop Sidebar End -->




                        <!-- Shop Sidebar Color Start -->
<!--                        <div class="shop-sidebar mb-30">-->
<!--                            <h4 class="title">导光 LIGHT</h4>-->
<!--                            <ul id="switchLightList">-->
<!--                                <li><a onclick="filterSwitchesLight(this, 0)">无 NONE</a></li>-->
<!--                                <li><a onclick="filterSwitchesLight(this, 1)">凸透镜 CONVEX LENS</a></li>-->
<!--                                <li><a onclick="filterSwitchesLight(this, 2)">平面镜 PLANE LENS</a></li>-->
<!--                                <li><a onclick="filterSwitchesLight(this, 3)">导光柱 PIPE LIGHT</a></li>-->
<!--                                <li><a onclick="filterSwitchesLight(this, 4)">一体式 INTEGRATED</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                        <!-- Shop Sidebar End -->

                        {% set mediaFilter = 'filter-container' %}
                        {% include 'component/filter-is_available.html' %}
                        {% include 'component/filter-manufacturer.html' %}



                        <!-- Shop Sidebar Tag Start -->
                        <!-- <div class="shop-sidebar mb-30">
                            <h4 class="title">轴体标签 Tags</h4>
                            <div class="sidebar-tag">
                                <a href="#">轻压力</a>
                                <a href="#">麻将音</a>
                                <a href="#">闷</a>
                                <a href="#">重压力</a>
                                <a href="#">大键</a>
                                <a href="#">肌无力</a>
                                <a href="#">肉</a>
                            </div>
                        </div> -->
                        <!-- Shop Sidebar End -->

                        <!-- Shop Sidebar Best Product start -->
                        <!-- <div class="sidbar-product shop-sidebar ">
                            <h4 class="title">畅销榜 Best Product</h4>
                            <div class="sidbar-product-inner">
                                <div class="product-image">
                                    <a href="product-details.html"><img src="static/picture/product2.jpg" alt=""></a>
                                </div>
                                <div class="product-content text-start">
                                    <h3><a href="product-details.html">Apple Honey Scented Candle</a></h3>
                                    <div class="price-box">
                                        <span class="old-price">$45</span>
                                        <span class="new-price">$40</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidbar-product-inner">
                                <div class="product-image">
                                    <a href="product-details.html"><img src="static/picture/product15.jpg" alt=""></a>
                                </div>
                                <div class="product-content text-start">
                                    <h3><a href="product-details.html">Amour Rose Crystal Candle</a></h3>
                                    <div class="price-box">
                                        <span class="old-price">$78</span>
                                        <span class="new-price">$69</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidbar-product-inner">
                                <div class="product-image">
                                    <a href="product-details.html"><img src="static/picture/box-banner2.jpg" alt=""></a>
                                </div>
                                <div class="product-content text-start">
                                    <h3><a href="product-details.html">Beeswax Rolled Candles</a></h3>
                                    <div class="price-box">

                                        <span class="old-price">$55</span>
                                        <span class="new-price">$52</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-2">
                    <!-- shop-product-wrapper start -->
                    <div class="shop-product-wrapper">
                        <div class="row">
                            <div class="col">
                                <!-- shop-top-bar start -->
                                <div class="shop-top-bar">
                                    <!-- product-view-mode start -->

                                    <div class="product-mode">
                                        <!--shop-item-filter-list-->
                                        <ul class="nav shop-item-filter-list" role="tablist">
                                            <li id="nav-grid" onclick="page(-1, 'grid')" class="active">
                                                <span style="font-size: 26px; font-weight: 500; margin-right: 20px;" data-bs-toggle="tab" href="" aria-selected="true" role="tab">
                                                    <i class="bi bi-grid"></i>
                                                </span>
                                            </li>
                                            <li id="nav-list" onclick="page(-1, 'list')">
                                                <span style="font-size: 26px; font-weight: 500; margin-right: 20px;" data-bs-toggle="tab" href="" aria-selected="false" tabindex="-1" role="tab">
                                                    <i class="bi bi-view-list"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <!-- shop-item-filter-list end -->
                                    </div>
                                    <div class="product-short">
                                        <div class="form-search">
                                            <input id="searchSwitch" class="input-text" value=""
                                                   placeholder="输入轴体名字搜索..." type="search">
                                            <button class="search-btn" type="button" onclick="initFilter()">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- product-view-mode end -->
                                    <!-- product-short start -->
                                    <!-- <div class="product-short">
                                        <select class="nice-select" name="sortby">
                                            <option value="trending">Relevance</option>
                                            <option value="sales">Name(A - Z)</option>
                                            <option value="sales">Name(Z - A)</option>
                                            <option value="rating">Price(Low > High)</option>
                                            <option value="date">Rating(Lowest)</option>
                                        </select>
                                    </div> -->
                                    <!-- product-short end -->
                                </div>
                                <!-- shop-top-bar end -->
                            </div>
                        </div>

                        <!-- shop-products-wrap start -->
                        <div class="shop-products-wrap">
                            <div class="tab-content">
                                <div class="tab-pane active" id="grid" role="tabpanel">
                                    <div class="shop-product-wrap">
                                        <div class="row" id="switchesContainer">
                                            {% for item in list %}
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div class="single-product-wrap">
                                                    <a href="/switch/{{ item.id }}" target="_blank">
                                                        <div class="product-image">
                                                            {% if item.type == '青轴' %}
                                                            <div class="product-label" style="background: #42a5f5;">青</div>
                                                            {% elif item.type == '茶轴' %}
                                                            <div class="product-label" style="background: #8F4F04;">茶</div>
                                                            {% elif item.type == '静音线性轴' %}
                                                            <div class="product-label" style="background: #f38234;">静L</div>
                                                            {% elif item.type == '静音段落轴' %}
                                                            <div class="product-label" style="background: #f38234;">静T</div>
                                                            {% elif '段落轴' in item.type %}
                                                            <div class="product-label" style="background: #3c763d;">T</div>
                                                            {% elif '线性轴' in item.type %}
                                                            <div class="product-label" style="background: #364291;">L</div>
                                                            {% else %}
                                                            <div class="product-label" style="background: #ca0000;">{{ item.type }}</div>
                                                            {% endif %}
                                                            <img src="{{ item.pic }}?x-process=image/convert,m_webp" alt="Product Images">
                                                            <div class="product-action">
<!--                                                                <a onclick="" class="add-to-cart" tabindex="0">-->
<!--                                                                    <i class="bi bi-basket"></i>-->
<!--                                                                </a>-->
                                                            </div>
                                                        </div>
                                                        <div class="{{ 'product-content' if item.stor_loc_box != '' else 'product-content youtube' }}">
                                                            <h3>{{ item.name }}</h3>
                                                            <div class="price-box">
                                                                <span class="price">{{ (item.studio, item.manufacturer) | format_studio_with_manufacturer }}</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="list" role="tabpanel">
                                    <div class="shop-product-list-wrap" id="switchesListContainer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop-products-wrap end -->
                        <div class="paginatoin-area">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <ul class="pagination-box" id="pageController">
                                        {% if page.has_previous_page %}
                                        <li onclick="page({{ page.current_page - 1 }})">
                                            <a class="Previous" href="#"><i class="bi bi-chevron-left"></i></a>
                                        </li>
                                        {% endif %}
                                        {% for item in page.adjacent_pages %}
                                        <li onclick="page({{ item }})" class="{{ 'active' if item == page.current_page else '' }}">
                                            <a href="#">{{ '....' if item == -1 else item }}</a>
                                        </li>
                                        {% endfor %}
                                        {% if page.has_next_page %}
                                        <li onclick="page({{ page.current_page + 1 }})">
                                            <a class="Next" href="#"><i class="bi bi-chevron-right"></i></a>
                                        </li>
                                        {% endif %}
                                        <li><span style="text-align: right;">前往</span></li>
                                        <li><input id="pageInput" type="number" placeholder="{{ page.current_page }}"></li>
                                        <li><span style="text-align: left;">页</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shop-product-wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->




</div>
<a id="scrollUp" href="http://120.77.13.71/dev#top" style="position: fixed; z-index: 2147483647; display: none;"><i
        class="bi bi-chevron-up"></i></a>


<script>
    template.defaults.imports.formatWithTolerance = function(value, tolerance, unit) {
        if(!value){
            return ''
        }else if (!tolerance) {
            return `${value}${unit}`;
        }else{
            return `${value}${tolerance}${unit}`;
        }
    }
    template.defaults.imports.format_studio_with_manufacturer = function(studio, manufacturer) {
        if(studio && manufacturer) {
            if(studio === manufacturer) {
                return `${studio}`
            }else {
                return `${studio} | ${manufacturer}`;
            }
        }else if(studio || manufacturer) {
            return `${studio}${manufacturer}`;
        }else {
            return ''
        }
    }
</script>

<script id="pageControllerTpl" type="text/html">
    {% raw %}
        {{ if page.has_previous_page }}
        <li onclick="page({{ page.current_page - 1 }})">
            <a class="Previous" href="#" value="{{ page.current_page - 1 }}"><i class="bi bi-chevron-left"></i></a>
        </li>
        {{ /if }}
        {{ each page.adjacent_pages item index }}
        <li onclick="page({{ item }})" class="{{ if item == page.current_page }} active {{ /if }} ">
            <a href="#">{{ if item == -1 }}...{{ else }} {{ item }} {{ /if }}</a>
        </li>
        {{ /each }}
        {{ if page.has_next_page }}
        <li onclick="page({{ page.current_page + 1 }})">
            <a class="Next" href="#" value="{{ page.current_page + 1 }}"><i class="bi bi-chevron-right"></i></a>
        </li>
        {{ /if }}
        {{ if page.total_pages > 5 }}
        <li><span style="text-align: right;">前往</span></li>
        <li><input id="pageInput" type="number" placeholder="{{ page.current_page }}"></li>
        <li><span style="text-align: left;">页</span></li>
        {{ /if }}
    {% endraw %}
</script>

<script id="switchesContainerTpl" type="text/html">
    {% raw %}
    {{ each list item index }}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-product-wrap">
                <a href="/switch/{{ item.id }}" target="_blank">
                <div class="product-image">
                    {{ if item.type == '青轴' }}
                    <div class="product-label" style="background: #42a5f5;">青</div>
                    {{ else if item.type == '茶轴' }}
                    <div class="product-label" style="background: #8F4F04;">茶</div>
                    {{ else if item.type == '静音线性轴' }}
                    <div class="product-label" style="background: #f38234;">静L</div>
                    {{ else if item.type == '静音段落轴' }}
                    <div class="product-label" style="background: #f38234;">静T</div>
                    {{ else if item.type.includes('段落轴') }}
                    <div class="product-label" style="background: #3c763d;">T</div>
                    {{ else if item.type.includes('线性轴') }}
                    <div class="product-label" style="background: #364291;">L</div>
                    {{ else }}
                    <div class="product-label" style="background: #ca0000;">{{ item.type }}</div>
                    {{ /if }}
                    <img src="{{ item.pic }}?x-process=image/convert,m_webp" alt="Product Images">
                    <div class="product-action">
<!--                        <a onclick="" class="add-to-cart" tabindex="0">-->
<!--                            <i class="bi bi-basket"></i>-->
<!--                        </a>-->
                    </div>
                </div>
                <div class="{{if item.stor_loc_box !== ''}}product-content{{else}}product-content youtube{{/if}}">
                    <h3>{{ item.name }}</h3>
                    <div class="price-box">
                        <span class="price">{{ item.studio | format_studio_with_manufacturer:item.manufacturer }}</span>
                    </div>
                </div>
                </a>
            </div>
        </div>
    {{ /each }}
    {% endraw %}
</script>
<script id="switchesListContainerTpl" type="text/html">
    {% raw %}
    {{ each list item index }}
        <div class="row product-layout-list">
            <div class="col-lg-4 col-md-5">
                <div class="single-product-wrap">
                    <a href="/switch/{{ item.id }}" target="_blank">
                    <div class="product-image">
                        {{ if item.type == '青轴' }}
                        <div class="product-label" style="background: #42a5f5;">青</div>
                        {{ else if item.type == '茶轴' }}
                        <div class="product-label" style="background: #8F4F04;">茶</div>
                        {{ else if item.type == '静音线性轴' }}
                        <div class="product-label" style="background: #f38234;">静L</div>
                        {{ else if item.type == '静音段落轴' }}
                        <div class="product-label" style="background: #f38234;">静T</div>
                        {{ else if item.type.includes('段落轴') }}
                        <div class="product-label" style="background: #3c763d;">T</div>
                        {{ else if item.type.includes('线性轴') }}
                        <div class="product-label" style="background: #364291;">L</div>
                        {{ else }}
                        <div class="product-label" style="background: #ca0000;">{{ item.type }}</div>
                        {{ /if }}
                        <img src="{{ item.pic }}?x-process=image/convert,m_webp" alt="Produce Images">
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <a href="/switch/{{ item.id }}" target="_blank">
                <div class="{{if item.stor_loc_box !== ''}}product-content text-start{{else}}product-content text-start youtube{{/if}}">
                    <h3 style="text-align: left">{{ item.name }}</h3>
                    <div class="price-box" style="text-align: left">
                        <span class="price">{{ item.studio | format_studio_with_manufacturer:item.manufacturer }}</span>
                    </div>
                    <div style="display: flex;">
                        <p class="switch-attribute">{{ item.type === '' ? '' : '【类型】' }}</p>
                        <p>{{ item.type }}</p>
                        <p class="switch-attribute">{{ item.mark === '' ? '': '【标志】' }}</p>
                        <p>{{ item.mark }} </p>
                        <p class="switch-attribute">{{ item.stor_loc_box === '' ? '' : '【位置】' }}</p>
                        <p>
                            {{ item.stor_loc_box }}
                            {{item.stor_loc_row === '' || item.stor_loc_row === null ? '' : ':' + item.stor_loc_row + '-' + item.stor_loc_col}}
                        </p>
                        <br>
                    </div>
                    <div style="display: flex;">
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.top_mat === '' ? '' : '【上盖】' }}</p>
                        <p style="margin-top: 0px;">{{ item.top_mat }}</p>
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.bottom_mat === '' ? '' : '【底壳】' }}</p>
                        <p style="margin-top: 0px;">{{ item.bottom_mat }}</p>
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.stem_mat === '' ? '' : '【轴心】' }}</p>
                        <p style="margin-top: 0px;">{{ item.stem_mat }}</p>
                    </div>
                    <div style="display: flex;">
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.pins === null ? '' : '【PIN】' }}</p>
                        <p style="margin-top: 0px;">{{ item.pins }}</p>
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.light_style == '' ? '' : '【导光柱】' }}</p>
                        <p style="margin-top: 0px;">{{ item.light_style }}</p>
                    </div>
                    <div style="display: flex;">
                        <p style="margin-top: 0px;">
                            {{ item.actuation_force | formatWithTolerance:item.actuation_force_tol,'g触发' }}
                            {{ item.bottom_force | formatWithTolerance:item.bottom_force_tol,'g触底' }}
                        </p>
                    </div>
                    <div style="display: flex;">
                        <p style="margin-top: 0px;">
                            {{ item.pre_travel | formatWithTolerance:item.pre_travel_tol,'mm触发' }}
                            {{ item.total_travel | formatWithTolerance:item.total_travel_tol,'mm触底' }}
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    {{ /each }}
    {% endraw %}
</script>
<script>
    function page(page, type) {
        if (!type) {
            type = $('#nav-grid').hasClass('active') ? 'grid' : 'list'
        }
        if(page === -1){
            page = $('#pageController').find('.active').find('a').text()
        }
        let is_available;
        let manufacturers = []
        let search;
        $('.sidebar-tag div').each(function() {
            let field = $(this).data('field'), value = $(this).data('value')
            if (field === 'is_available') {
                is_available = value
            } else if (field === 'manufacturer') {
                manufacturers.push(value)
            } else if (field === 'search') {
                search = value
            }
        });
        // let search = $('#searchSwitch').val()
        var params = {
            start: (page - 1) * 15, length: 15,
            is_available: is_available,
            s: search,
            manufacturer: manufacturers.join(',')
        }
        console.log(params)
        $.ajax({
            url: '/api/v2/switches/filter',
            method: 'GET',
            data: params,
            success: function (data) {
                if (type === 'grid') {
                    $('#switchesListContainer').empty()
                    $('#grid').addClass('active')
                    $('#nav-grid').addClass('active')
                    $('#list').removeClass('active')
                    $('#nav-list').removeClass('active')
                    $('#switchesContainer').html(template('switchesContainerTpl', {'list': data.page_list}))
                }else {
                    $('#switchesContainer').empty()
                    $('#grid').removeClass('active')
                    $('#nav-grid').removeClass('active')
                    $('#list').addClass('active')
                    $('#nav-list').addClass('active')
                    $('#switchesListContainer').html(template('switchesListContainerTpl', {'list': data.page_list}))
                }
                $('#pageController').html(template('pageControllerTpl', {'page': data.page}))
            }
        });
    }
</script>
<script id="filterTagListTpl" type="text/html">
    {% raw %}
    {{ each filterList item index }}
        <div class="align-items-center filterTag" data-field="{{item.field}}" data-value="{{item.value}}">
            {{ item.text }}
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
    {{ /each }}
    {% endraw %}
</script>
<script>
    function initFilter(){
        var filterList = []
        $('.filterList input:checked').each(function() {
            let $span = $(this).closest('li').find('span')
            let newValue = {
                'text': $span.text(),
                'value': $span.data('value'),
                'field': $span.data('field')
            };
            let alreadyExists = filterList.some(function(item) {
                return item.text === newValue.text && item.value === newValue.value && item.field === newValue.field;
            });
            if (!alreadyExists) {
                filterList.push(newValue);
            }
        });
        let search = $('#searchSwitch').val()
        if(search !== '') {
            filterList.push({
                'text': '搜索:' + search,
                'value': search,
                'field': 'search'
            });
        }
        $('div.sidebar-tag').html(template('filterTagListTpl', {'filterList': filterList}))
        $('.filterSize').text('(' + filterList.length + ')')
        page(1)
    }
    // 删除筛选的tag
    $('div.sidebar-tag').on('click', '.filterTag', function(){
        $(this).remove()
        var value = $(this).data('value')
        var field = $(this).data('field')
        if(field === 'search') {
            $('#searchSwitch').val('')
            initFilter()
            return;
        }
        $('.filterList li').each(function() {
            if ($(this).find('span').data('value') === value && $(this).find('span').data('field') === field) {
                $(this).find('input[type="checkbox"]').prop('checked', false)
                $(this).find('span').css({'color': '', 'font-weight': ''})
            }
        });
        initFilter()
    })

    function checkoutFilter(field, value, checked){
        $('input[data-field="' + field + '"][data-value="' + value + '"]').each(function() {
            if(checked) {
                $(this).next('span').css({'color': 'red', 'font-weight': 'bold'})
                $(this).prop('checked', true)
                if (field === 'is_available') {
                    var siblingsLi = $(this).parent().siblings('li');
                    siblingsLi.find('input').prop('checked', false)
                    siblingsLi.find('span').css({'color': '', 'font-weight': ''})
                }
            } else{
                $(this).next('span').css({'color': '', 'font-weight': ''})
                $(this).prop('checked', false)
            }
        });
    }

    $('input[type="checkbox"].switchFactoryCheck').change(function(){
        var dataField = $(this).attr('data-field');
        var dataValue = $(this).attr('data-value')
        if($(this).is(':checked')){
            checkoutFilter(dataField, dataValue, true)
        } else{
            checkoutFilter(dataField, dataValue, false)
        }
        initFilter()
    })
    $('.switchFactory').click(function(){
        var checkbox = $(this).prev('input.switchFactoryCheck');
        checkbox.prop('checked', !checkbox.prop('checked')).change();
    })
</script>
<script>
    $('#searchSwitch').keyup(function (event){
        if (event.keyCode === 13) {
            initFilter()
        }
    }).on('input', function() {
        if ($(this).val() === '') {
            initFilter()
        }
    });
    $('ul#pageController').on('keypress', '#pageInput', function(event){
        if (event.keyCode === 13) {
            page($('#pageInput').val())
        }
    })
</script>

</body>
</html>