<!DOCTYPE html>
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Keyboard Switches</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"><!--    5.0.0-alpha1 -> 5.0.0-alpha2-->
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/simple-line-icons/2.5.5/css/simple-line-icons.min.css"><!--    无版本 -> 2.5.5-->
    <link rel="stylesheet" href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/ionicons/2.0.0/css/ionicons.min.css">
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/animate.css/4.1.1/animate.min.css"><!--    无版本 -> 4.1.1-->

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <style>
        .preloader {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.preloader.loaded {
  height: 0;
}
.preloader h1{
    color: black;
}
    </style>
</head>

<body>

<div class="preloader text-white fs-6 text-uppercase overflow-hidden"><h1>loading...</h1></div>
<div class="body_overlay"></div>

<header class="header_section border-bottom">
    {% include 'component/header-top.html' %}

    <div class="main_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header_container d-flex justify-content-between align-items-center">
                        <div class="canvas_open">
                            <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                        </div>
                        <div class="header_logo">
                            <a class="sticky_none" href="/"><img src="/assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!--main menu start-->
                        <div class="main_menu d-none d-lg-block">
                            <nav>
                                <ul class="d-flex">
                                    <li><a class="active" href="/">主页</a></li>
                                    <li><a href="/icgb">icgb</a></li>
                                    <li><a href="#">product</a></li>
                                    <!--                                    <li><a href="#">pages</a>-->
                                    <!--                                        <ul class="sub_menu">-->
                                    <!--                                            <li><a href="cart.html">Cart Pages</a></li>-->
                                    <!--                                            <li><a href="checkout.html">Checkout Pages</a></li>-->
                                    <!--                                        </ul>-->
                                    <!--                                    </li>-->
                                </ul>
                            </nav>
                        </div>
                        <div class="header_account">
                            <ul class="d-flex">
                                <!--                                <li class="header_search"><a href="#"><i class="icon-magnifier icons"></i></a></li>-->
                                <!--                                <li class="account_link"><a href="#"><i class="icon-user icons"></i></a>-->
                                <!--                                    <ul class="dropdown_account_link">-->
                                <!--                                        <li><a href="#">My Account</a></li>-->
                                <!--                                        <li><a href="#">Login</a></li>-->
                                <!--                                        <li><a href="#">Contact</a></li>-->
                                <!--                                    </ul>-->
                                <!--                                </li>-->
                                <!--                                <li><a href="#"><i class="icon-heart icons"></i></a> <span class="item_count">2</span>-->
                                <!--                                </li>-->
                                <!--                                <li class="shopping_cart"><a href="#"><i class="icon-basket-loaded icons"></i></a> <span-->
                                <!--                                        class="item_count">2</span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page search box -->
    <div class="page_search_box">
        <div class="search_close">
            <i class="ion-close-round"></i>
        </div>
        <form class="border-bottom" action="#">
            <input class="border-0" placeholder="Search products..." type="text">
            <button type="submit"><span class="icon-magnifier icons"></span></button>
        </form>
    </div>

</header>

<div class="shop_section shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div class="widget_list widget_categories">
                            <h2>Categories</h2>
                            <ul>
                                <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse" data-target="#men">Men</a>
                                    <ul class="widget_dropdown_categories collapse show" id="men">
                                        <li><a href="#"> New products <span>104</span></a></li>
                                        <li><a href="#">Gymwear <span>68</span></a></li>
                                        <li><a href="#">Jakets <span>75</span></a></li>
                                        <li><a href="#">Jeans <span>30</span></a></li>
                                        <li><a href="#">Shirts <span>150</span></a></li>
                                        <li><a href="#">T-Shirts <span>113</span></a></li>
                                        <li><a href="#">Accessories <span>95</span></a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse" data-target="#women">women</a>
                                    <ul class="widget_dropdown_categories collapse" id="women">
                                        <li><a href="#"> New products <span>104</span></a></li>
                                        <li><a href="#">Gymwear <span>68</span></a></li>
                                        <li><a href="#">Jakets <span>75</span></a></li>
                                        <li><a href="#">Jeans <span>30</span></a></li>
                                        <li><a href="#">Shirts <span>150</span></a></li>
                                        <li><a href="#">T-Shirts <span>113</span></a></li>
                                        <li><a href="#">Accessories <span>95</span></a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse" data-target="#footwear">footwear</a>
                                    <ul class="widget_dropdown_categories collapse" id="footwear">
                                        <li><a href="#"> New products <span>104</span></a></li>
                                        <li><a href="#">Gymwear <span>68</span></a></li>
                                        <li><a href="#">Jakets <span>75</span></a></li>
                                        <li><a href="#">Jeans <span>30</span></a></li>
                                        <li><a href="#">Shirts <span>150</span></a></li>
                                        <li><a href="#">T-Shirts <span>113</span></a></li>
                                        <li><a href="#">Accessories <span>95</span></a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse" data-target="#accessories">accessories</a>
                                    <ul class="widget_dropdown_categories collapse" id="accessories">
                                        <li><a href="#"> New products <span>104</span></a></li>
                                        <li><a href="#">Gymwear <span>68</span></a></li>
                                        <li><a href="#">Jakets <span>75</span></a></li>
                                        <li><a href="#">Jeans <span>30</span></a></li>
                                        <li><a href="#">Shirts <span>150</span></a></li>
                                        <li><a href="#">T-Shirts <span>113</span></a></li>
                                        <li><a href="#">Accessories <span>95</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_list widget_filter">
                            <h2>Filter By</h2>
                            <div class="filter__list slider_range">
                                <h3>price</h3>
                                <form action="#">
                                    <div id="slider-range"></div>
                                    <span>Range:</span>
                                    <input type="text" name="text" id="amount" />

                                </form>
                            </div>

                            <div class="filter__list widget_size">
                                <h3> size</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">S </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> M</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">L</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> XL</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">XLL</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter__list widget_color">
                                <h3>color</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color1"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color2"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color3"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color4"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color5"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color6"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color7"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color8"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter__list widget_brands">
                                <h3 data-toggle="collapse" data-target="#brands">brands</h3>
                                <ul class="widget_dropdown_categories collapse show" id="brands">
                                    <li><a href="#"> The North Face <span>104</span></a></li>
                                    <li><a href="#">Zara Basic <span>68</span></a></li>
                                    <li><a href="#">Moschino <span>75</span></a></li>
                                    <li><a href="#">Supreme <span>30</span></a></li>
                                    <li><a href="#">Ecko Unltd <span>150</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget_list">
                            <h2>Recent Product</h2>
                            <div class="recent_product">
                                <div class="recent_product_list d-flex mb-25">
                                    <div class="recent_thumb">
                                        <a href="product-details.html"><img src="assets/img/product/product4.jpg" alt=""></a>
                                    </div>
                                    <div class="recent_content">
                                        <h4><a href="product-details.html">Barbour T-shirt <br> International</a></h4>
                                        <span>$32.00</span>
                                    </div>
                                </div>
                                <div class="recent_product_list d-flex">
                                    <div class="recent_thumb">
                                        <a href="product-details.html"><img src="assets/img/product/product6.jpg" alt=""></a>
                                    </div>
                                    <div class="recent_content">
                                        <h4><a href="product-details.html">Barbour T-shirt <br> International</a></h4>
                                        <span>$32.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->

                <!--breadcrumbs area start-->
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>shop</li>
                    </ul>
                </div>
                <!--breadcrumbs area end-->

                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper d-flex justify-content-between align-items-center">
                    <div class="page_amount">
                        <p><span>{{page.total_items}}</span> </p>
                    </div>
<!--                    <div class=" sorting_by d-flex align-items-center">-->
<!--                        <span>SORT BY :</span>-->
<!--                        <form class="select_option" action="#">-->
<!--                            <select name="orderby" id="short">-->
<!--                                <option selected value="1">NAME       3</option>-->
<!--                                <option  value="2">NAME  4</option>-->
<!--                            </select>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div class="toolbar_btn_wrapper d-flex align-items-center">
                        <div class="view_btn">
                            <a class="view" href="#">VIEW</a>
                        </div>
                        <div class="shop_toolbar_btn">
                            <ul class="d-flex align-items-center">
                                <li><a href="#" class="active btn-grid-3" data-role="grid_3"><i class="ion-grid"></i></a></li>
                                <li><a href="#" class="btn-list" data-role="grid_list"><i class="ion-navicon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper">
                    {% for item in list %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a href="/switch/{{ item.id }}" >
                                    <img style="width: 100%; height: auto; aspect-ratio: 13/10; object-fit: cover;" class="primary_img" src="{{ item.pic }}?x-process=image/convert,m_webp" alt="consectetur">
                                </a>
<!--                                <div class="product_action">-->
<!--                                    <ul>-->
<!--                                        <li class="wishlist"><a href="#" data-tippy="Wishlist" data-tippy-inertia="true" data-tippy-delay="50"-->
<!--                                                                data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-heart icons"></i></a></li>-->

<!--                                        <li class="quick_view"><a data-toggle="modal" data-target="#modal_box" data-tippy="Quick View" href="#" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-size-fullscreen icons"></i></a></li>-->
<!--                                        <li class="compare"><a data-tippy="Compare" href="#" data-tippy-inertia="true" data-tippy-delay="50"-->
<!--                                                               data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-refresh icons"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
                                <div class="product_label">
                                    {% if item.type == '青轴' %}
                                    <span style="background: #42a5f5;">青</span>
                                    {% elif item.type == '茶轴' %}
                                    <span style="background: #8F4F04;">茶</span>
                                    {% elif item.type == '静音线性轴' %}
                                    <span style="background: #f38234;">静L</span>
                                    {% elif item.type == '静音段落轴' %}
                                    <span style="background: #f38234;">静T</span>
                                    {% elif '段落轴' in item.type %}
                                    <span style="background: #3c763d;">T</span>
                                    {% elif '线性轴' in item.type %}
                                    <span style="background: #364291;">L</span>
                                    {% else %}
                                    <span style="background: #ca0000;">{{ item.type }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product_content grid_content text-center">
                                <a href="/switch/{{ item.id }}">
                                    <!--                                <div class="product_ratting">-->
                                    <!--                                    <ul class="d-flex justify-content-center">-->
                                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                                    <!--                                        <li><span>(2)</span></li>-->
                                    <!--                                    </ul>-->
                                    <!--                                </div>-->
                                    <h4 class="product_name">{{ item.name }}</h4>
                                    <div class="price_box">
                                        <span>{{ (item.studio, item.manufacturer) | format_studio_with_manufacturer }}</span>
                                        <!--                                    <span class="current_price">$43.00</span>-->
                                        <!--                                    <span class="old_price">$46.00</span>-->
                                    </div>
                                    <!--                                <div class="add_to_cart">-->
                                    <!--                                    <a class="btn btn-primary" href="#" data-tippy="Add To Cart"  data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>-->
                                    <!--                                </div>-->
                                </a>
                            </div>
                            <div class="product_list_content">
                                <a href="/switch/{{ item.id }}">
                                <h4 class="product_name">{{ item.name }}{{ '' if item.studio == item.manufacturer else ' x ' + item.studio }}</h4>
<!--                                <p><a href="#">shows</a></p>-->
                                <div class="price_box">
                                    <span>{{ item.manufacturer if item.manufacturer else '' }}</span>
<!--                                    <span class="current_price">$43.00</span>-->
<!--                                    <span class="old_price">$46.00</span>-->
                                </div>
                                <div class="product_desc">
                                    <p>
                                        {% if item.light_style %}<span>{{item.light_style }},</span>{% endif %}
                                        {% if item.pins %}<span>{{item.pins }}Pins,</span>{% endif %}
                                        {% if item.type %}<span>{{item.type }},</span>{% endif %}
                                        {% if item.mark %}<span>{{item.mark }},</span>{% endif %}
                                        {% if item.stor_loc_box %}
                                        <span>{{ item.stor_loc_box }}{{ '' if item.stor_loc_row is none else ':' + item.stor_loc_row + '-' + item.stor_loc_col}}</span>
                                        {% endif %}
                                    </p>
                                </div>
<!--                                <div class="add_to_cart">-->
<!--                                    <a class="btn btn-primary" href="#" data-tippy="Add To Cart"  data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>-->
<!--                                </div>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination_style pagination justify-content-center">
                    <ul class="d-flex">
                        <li><a href="#"> << </a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="current" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>

                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>


<footer class="footer_widgets">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="footer_widget_list">
                    <div class="footer_logo">
                        <a href="#"><img src="/assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <div class="footer_contact">
                        <div class="footer_contact_list">
                            <span>Register</span>
                            <p>register-ui.onlybox.cn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="footer_widget_list text-right">
                    <!--                    <div class="footer_menu">-->
                    <!--                        <ul class="d-flex justify-content-end">-->
                    <!--                            <li><a href="index.html">home</a></li>-->
                    <!--                            <li><a href="shop.html">Shop</a></li>-->
                    <!--                            <li><a href="product-details.html">Product</a></li>-->
                    <!--                            <li><a href="#">pages</a></li>-->
                    <!--                            <li><a href="blog.html">Blog</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                    <div class="footer_social">
                        <ul class="d-flex justify-content-end">
                            <li><a href="#" data-tippy="Github" data-tippy-inertia="true" data-tippy-delay="50"
                                   data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-social-github"></i></a>
                            </li>
                            <!--                            <li><a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-delay="50"-->
                            <!--                                   data-tippy-arrow="true" data-tippy-placement="top"><i-->
                            <!--                                    class="ion-social-facebook"></i></a></li>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                    <div class="copyright_right">
                        <p>© <span>Bigp</span>. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/wow/1.1.2/wow.min.js"></script> <!--    v1.3.0 -> 1.1.2-->
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script>
    console.log({{list | tojson}})

    console.log({{page | tojson}})
</script>
<script>
<!--    template.defaults.imports.formatWithTolerance = function(value, tolerance, unit) {-->
<!--        if(!value){-->
<!--            return ''-->
<!--        }else if (!tolerance) {-->
<!--            return `${value}${unit}`;-->
<!--        }else{-->
<!--            return `${value}${tolerance}${unit}`;-->
<!--        }-->
<!--    }-->
<!--    template.defaults.imports.format_studio_with_manufacturer = function(studio, manufacturer) {-->
<!--        if(studio && manufacturer) {-->
<!--            if(studio === manufacturer) {-->
<!--                return `${studio}`-->
<!--            }else {-->
<!--                return `${studio} | ${manufacturer}`;-->
<!--            }-->
<!--        }else if(studio || manufacturer) {-->
<!--            return `${studio}${manufacturer}`;-->
<!--        }else {-->
<!--            return ''-->
<!--        }-->
<!--    }-->
<!--</script>-->

<script id="pageControllerTpl" type="text/html">
    {% raw %}
        {{ if page.has_previous_page }}
        <li onclick="page({{ page.current_page - 1 }})">
            <a class="Previous" href="#" value="{{ page.current_page - 1 }}"><i class="bi bi-chevron-left"></i></a>
        </li>
        {{ /if }}
        {{ each page.adjacent_pages item index }}
        <li onclick="page({{ item }})" class="{{ if item == page.current_page }} active {{ /if }} ">
            <a href="#">{{ if item == -1 }}...{{ else }} {{ item }} {{ /if }}</a>
        </li>
        {{ /each }}
        {{ if page.has_next_page }}
        <li onclick="page({{ page.current_page + 1 }})">
            <a class="Next" href="#" value="{{ page.current_page + 1 }}"><i class="bi bi-chevron-right"></i></a>
        </li>
        {{ /if }}
        {{ if page.total_pages > 5 }}
        <li><span style="text-align: right;">前往</span></li>
        <li><input id="pageInput" type="number" placeholder="{{ page.current_page }}"></li>
        <li><span style="text-align: left;">页</span></li>
        {{ /if }}
    {% endraw %}
</script>

<script id="switchesContainerTpl" type="text/html">
    {% raw %}
    {{ each list item index }}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-product-wrap">
                <a href="/switch/{{ item.id }}" target="_blank">
                <div class="product-image">
                    {{ if item.type == '青轴' }}
                    <div class="product-label" style="background: #42a5f5;">青</div>
                    {{ else if item.type == '茶轴' }}
                    <div class="product-label" style="background: #8F4F04;">茶</div>
                    {{ else if item.type == '静音线性轴' }}
                    <div class="product-label" style="background: #f38234;">静L</div>
                    {{ else if item.type == '静音段落轴' }}
                    <div class="product-label" style="background: #f38234;">静T</div>
                    {{ else if item.type.includes('段落轴') }}
                    <div class="product-label" style="background: #3c763d;">T</div>
                    {{ else if item.type.includes('线性轴') }}
                    <div class="product-label" style="background: #364291;">L</div>
                    {{ else }}
                    <div class="product-label" style="background: #ca0000;">{{ item.type }}</div>
                    {{ /if }}
                    <img src="{{ item.pic }}?x-process=image/convert,m_webp" alt="Product Images">
                    <div class="product-action">
<!--                        <a onclick="" class="add-to-cart" tabindex="0">-->
<!--                            <i class="bi bi-basket"></i>-->
<!--                        </a>-->
                    </div>
                </div>
                <div class="{{if item.stor_loc_box !== ''}}product-content{{else}}product-content youtube{{/if}}">
                    <h3>{{ item.name }}</h3>
                    <div class="price-box">
                        <span class="price">{{ item.studio | format_studio_with_manufacturer:item.manufacturer }}</span>
                    </div>
                </div>
                </a>
            </div>
        </div>
    {{ /each }}
    {% endraw %}
</script>
<script id="switchesListContainerTpl" type="text/html">
    {% raw %}
    {{ each list item index }}
        <div class="row product-layout-list">
            <div class="col-lg-4 col-md-5">
                <div class="single-product-wrap">
                    <a href="/switch/{{ item.id }}" target="_blank">
                    <div class="product-image">
                        {{ if item.type == '青轴' }}
                        <div class="product-label" style="background: #42a5f5;">青</div>
                        {{ else if item.type == '茶轴' }}
                        <div class="product-label" style="background: #8F4F04;">茶</div>
                        {{ else if item.type == '静音线性轴' }}
                        <div class="product-label" style="background: #f38234;">静L</div>
                        {{ else if item.type == '静音段落轴' }}
                        <div class="product-label" style="background: #f38234;">静T</div>
                        {{ else if item.type.includes('段落轴') }}
                        <div class="product-label" style="background: #3c763d;">T</div>
                        {{ else if item.type.includes('线性轴') }}
                        <div class="product-label" style="background: #364291;">L</div>
                        {{ else }}
                        <div class="product-label" style="background: #ca0000;">{{ item.type }}</div>
                        {{ /if }}
                        <img src="{{ item.pic }}?x-process=image/convert,m_webp" alt="Produce Images">
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <a href="/switch/{{ item.id }}" target="_blank">
                <div class="{{if item.stor_loc_box !== ''}}product-content text-start{{else}}product-content text-start youtube{{/if}}">
                    <h3 style="text-align: left">{{ item.name }}</h3>
                    <div class="price-box" style="text-align: left">
                        <span class="price">{{ item.studio | format_studio_with_manufacturer:item.manufacturer }}</span>
                    </div>
                    <div style="display: flex;">
                        <p class="switch-attribute">{{ item.type === '' ? '' : '【类型】' }}</p>
                        <p>{{ item.type }}</p>
                        <p class="switch-attribute">{{ item.mark === '' ? '': '【标志】' }}</p>
                        <p>{{ item.mark }} </p>
                        <p class="switch-attribute">{{ item.stor_loc_box === '' ? '' : '【位置】' }}</p>
                        <p>
                            {{ item.stor_loc_box }}
                            {{item.stor_loc_row === '' || item.stor_loc_row === null ? '' : ':' + item.stor_loc_row + '-' + item.stor_loc_col}}
                        </p>
                        <br>
                    </div>
                    <div style="display: flex;">
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.top_mat === '' ? '' : '【上盖】' }}</p>
                        <p style="margin-top: 0px;">{{ item.top_mat }}</p>
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.bottom_mat === '' ? '' : '【底壳】' }}</p>
                        <p style="margin-top: 0px;">{{ item.bottom_mat }}</p>
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.stem_mat === '' ? '' : '【轴心】' }}</p>
                        <p style="margin-top: 0px;">{{ item.stem_mat }}</p>
                    </div>
                    <div style="display: flex;">
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.pins === null ? '' : '【PIN】' }}</p>
                        <p style="margin-top: 0px;">{{ item.pins }}</p>
                        <p class="switch-attribute" style="margin-top: 0px;">{{ item.light_style == '' ? '' : '【导光柱】' }}</p>
                        <p style="margin-top: 0px;">{{ item.light_style }}</p>
                    </div>
                    <div style="display: flex;">
                        <p style="margin-top: 0px;">
                            {{ item.actuation_force | formatWithTolerance:item.actuation_force_tol,'g触发' }}
                            {{ item.bottom_force | formatWithTolerance:item.bottom_force_tol,'g触底' }}
                        </p>
                    </div>
                    <div style="display: flex;">
                        <p style="margin-top: 0px;">
                            {{ item.pre_travel | formatWithTolerance:item.pre_travel_tol,'mm触发' }}
                            {{ item.total_travel | formatWithTolerance:item.total_travel_tol,'mm触底' }}
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    {{ /each }}
    {% endraw %}
</script>
<script>
    function page(page, type) {
        if (!type) {
            type = $('#nav-grid').hasClass('active') ? 'grid' : 'list'
        }
        if(page === -1){
            page = $('#pageController').find('.active').find('a').text()
        }
        let is_available;
        let manufacturers = []
        let search;
        $('.sidebar-tag div').each(function() {
            let field = $(this).data('field'), value = $(this).data('value')
            if (field === 'is_available') {
                is_available = value
            } else if (field === 'manufacturer') {
                manufacturers.push(value)
            } else if (field === 'search') {
                search = value
            }
        });
        // let search = $('#searchSwitch').val()
        var params = {
            start: (page - 1) * 15, length: 15,
            is_available: is_available,
            s: search,
            manufacturer: manufacturers.join(',')
        }
        console.log(params)
        $.ajax({
            url: '/api/v2/switches/filter',
            method: 'GET',
            data: params,
            success: function (data) {
                if (type === 'grid') {
                    $('#switchesListContainer').empty()
                    $('#grid').addClass('active')
                    $('#nav-grid').addClass('active')
                    $('#list').removeClass('active')
                    $('#nav-list').removeClass('active')
                    $('#switchesContainer').html(template('switchesContainerTpl', {'list': data.page_list}))
                }else {
                    $('#switchesContainer').empty()
                    $('#grid').removeClass('active')
                    $('#nav-grid').removeClass('active')
                    $('#list').addClass('active')
                    $('#nav-list').addClass('active')
                    $('#switchesListContainer').html(template('switchesListContainerTpl', {'list': data.page_list}))
                }
                $('#pageController').html(template('pageControllerTpl', {'page': data.page}))
            }
        });
    }
</script>
<script id="filterTagListTpl" type="text/html">
    {% raw %}
    {{ each filterList item index }}
        <div class="align-items-center filterTag" data-field="{{item.field}}" data-value="{{item.value}}">
            {{ item.text }}
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
    {{ /each }}
    {% endraw %}
</script>
<script>
    function initFilter(){
        var filterList = []
        $('.filterList input:checked').each(function() {
            let $span = $(this).closest('li').find('span')
            let newValue = {
                'text': $span.text(),
                'value': $span.data('value'),
                'field': $span.data('field')
            };
            let alreadyExists = filterList.some(function(item) {
                return item.text === newValue.text && item.value === newValue.value && item.field === newValue.field;
            });
            if (!alreadyExists) {
                filterList.push(newValue);
            }
        });
        let search = $('#searchSwitch').val()
        if(search !== '') {
            filterList.push({
                'text': '搜索:' + search,
                'value': search,
                'field': 'search'
            });
        }
        $('div.sidebar-tag').html(template('filterTagListTpl', {'filterList': filterList}))
        $('.filterSize').text('(' + filterList.length + ')')
        page(1)
    }
    // 删除筛选的tag
    $('div.sidebar-tag').on('click', '.filterTag', function(){
        $(this).remove()
        var value = $(this).data('value')
        var field = $(this).data('field')
        if(field === 'search') {
            $('#searchSwitch').val('')
            initFilter()
            return;
        }
        $('.filterList li').each(function() {
            if ($(this).find('span').data('value') === value && $(this).find('span').data('field') === field) {
                $(this).find('input[type="checkbox"]').prop('checked', false)
                $(this).find('span').css({'color': '', 'font-weight': ''})
            }
        });
        initFilter()
    })

    function checkoutFilter(field, value, checked){
        $('input[data-field="' + field + '"][data-value="' + value + '"]').each(function() {
            if(checked) {
                $(this).next('span').css({'color': 'red', 'font-weight': 'bold'})
                $(this).prop('checked', true)
                if (field === 'is_available') {
                    var siblingsLi = $(this).parent().siblings('li');
                    siblingsLi.find('input').prop('checked', false)
                    siblingsLi.find('span').css({'color': '', 'font-weight': ''})
                }
            } else{
                $(this).next('span').css({'color': '', 'font-weight': ''})
                $(this).prop('checked', false)
            }
        });
    }

    $('input[type="checkbox"].switchFactoryCheck').change(function(){
        var dataField = $(this).attr('data-field');
        var dataValue = $(this).attr('data-value')
        if($(this).is(':checked')){
            checkoutFilter(dataField, dataValue, true)
        } else{
            checkoutFilter(dataField, dataValue, false)
        }
        initFilter()
    })
    $('.switchFactory').click(function(){
        var checkbox = $(this).prev('input.switchFactoryCheck');
        checkbox.prop('checked', !checkbox.prop('checked')).change();
    })
</script>
<script>
    $('#searchSwitch').keyup(function (event){
        if (event.keyCode === 13) {
            initFilter()
        }
    }).on('input', function() {
        if ($(this).val() === '') {
            initFilter()
        }
    });
    $('ul#pageController').on('keypress', '#pageInput', function(event){
        if (event.keyCode === 13) {
            page($('#pageInput').val())
        }
    })
</script>

</body>
</html>