<div class="breadcrumbs_area breadcrumbs_product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        {% for item in breadcrumb_list %}
                        <li><a href="{% if item == '主页' %}/{% elif item == 'switches' %}/collections/switches{% else %}#{% endif %}">{{ item }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>