<div class="shop_toolbar_wrapper d-flex justify-content-between align-items-center">
    <div class="page_amount">
        <p><span>{{page.total_items}}</span></p>
    </div>
    <!--                    <div class=" sorting_by d-flex align-items-center">-->
    <!--                        <span>SORT BY :</span>-->
    <!--                        <form class="select_option" action="#">-->
    <!--                            <select name="orderby" id="short">-->
    <!--                                <option selected value="1">NAME       3</option>-->
    <!--                                <option  value="2">NAME  4</option>-->
    <!--                            </select>-->
    <!--                        </form>-->
    <!--                    </div>-->
    <div class="toolbar_btn_wrapper d-flex align-items-center">
        <div class="view_btn">
            <a class="view" href="#">VIEW</a>
        </div>
        <div class="shop_toolbar_btn">
            <ul class="d-flex align-items-center">
                <li><a href="#" class="active btn-grid-3" data-role="grid_3"><i class="ion-grid"></i></a></li>
                <li><a href="#" class="btn-list" data-role="grid_list"><i class="ion-navicon"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row shop_wrapper">
    {% for item in list %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
        <div class="single_product">
            <div class="product_thumb">
                <a href="/collections/products/{{ item.id }}" target="_blank">
                    <img style="width: 100%; height: auto; aspect-ratio: 13/10; object-fit: cover;" class="primary_img"
                         src="{{ item.pic }}?x-process=image/convert,m_webp" alt="consectetur">
                </a>
                <!--                                <div class="product_action">-->
                <!--                                    <ul>-->
                <!--                                        <li class="wishlist"><a href="#" data-tippy="Wishlist" data-tippy-inertia="true" data-tippy-delay="50"-->
                <!--                                                                data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-heart icons"></i></a></li>-->

                <!--                                        <li class="quick_view"><a data-toggle="modal" data-target="#modal_box" data-tippy="Quick View" href="#" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-size-fullscreen icons"></i></a></li>-->
                <!--                                        <li class="compare"><a data-tippy="Compare" href="#" data-tippy-inertia="true" data-tippy-delay="50"-->
                <!--                                                               data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-refresh icons"></i></a></li>-->
                <!--                                    </ul>-->
                <!--                                </div>-->
                <div class="product_label">
                    {% if item.type == '青轴' %}
                    <span style="background: #42a5f5;">青</span>
                    {% elif item.type == '茶轴' %}
                    <span style="background: #8F4F04;">茶</span>
                    {% elif item.type == '静音线性轴' %}
                    <span style="background: #f38234;">静L</span>
                    {% elif item.type == '静音段落轴' %}
                    <span style="background: #f38234;">静T</span>
                    {% elif '段落轴' in item.type %}
                    <span style="background: #3c763d;">T</span>
                    {% elif '线性轴' in item.type %}
                    <span style="background: #364291;">L</span>
                    {% else %}
                    <span style="background: #ca0000;">{{ item.type }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="product_content grid_content text-center">
                <a href="/collections/products/{{ item.id }}" target="_blank">
                    <!--                                <div class="product_ratting">-->
                    <!--                                    <ul class="d-flex justify-content-center">-->
                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="ion-android-star"></i></a></li>-->
                    <!--                                        <li><span>(2)</span></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <h4 class="product_name">{{ item.name }}</h4>
                    <div class="price_box">
                        <span>{{ (item.studio, item.manufacturer) | format_studio_with_manufacturer }}</span>
                        <!--                                    <span class="current_price">$43.00</span>-->
                        <!--                                    <span class="old_price">$46.00</span>-->
                    </div>
                    <!--                                <div class="add_to_cart">-->
                    <!--                                    <a class="btn btn-primary" href="#" data-tippy="Add To Cart"  data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>-->
                    <!--                                </div>-->
                </a>
            </div>
            <div class="product_list_content">
                <a href="/collections/products/{{ item.id }}" target="_blank">
                    <h4 class="product_name">{{ item.name }}{{ '' if item.studio == item.manufacturer else ' x ' +
                        item.studio }}</h4>
                    {# <p><a href="#">show</a></p>#}
                    <div class="price_box">
                        {{ item.manufacturer if item.manufacturer else '' }}
                        <!--                                    <span class="current_price">$43.00</span>-->
                        <!--                                    <span class="old_price">$46.00</span>-->
                    </div>
                    <div class="product_desc">
                        <p>
                            {% if item.light_style %}<span>{{item.light_style }},</span>{% endif %}
                            {% if item.pins %}<span>{{item.pins }}Pins,</span>{% endif %}
                            {% if item.type %}<span>{{item.type }},</span>{% endif %}
                            {% if item.mark %}<span>{{item.mark }},</span>{% endif %}
                            {% if item.stor_loc_box %}
                            <span>{{ item.stor_loc_box }}{{ '' if item.stor_loc_row is none else '【' + item.stor_loc_row|string + '-' + item.stor_loc_col|string + '】'}}</span>
                            {% endif %}
                        </p>
                    </div>
                    <!--                                <div class="add_to_cart">-->
                    <!--                                    <a class="btn btn-primary" href="#" data-tippy="Add To Cart"  data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>-->
                    <!--                                </div>-->
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination_style pagination justify-content-center">
    <ul class="d-flex">
        {% if page.has_previous_page %}
        <li><a href="/collections/switches/{{ page.current_page - 1 }}"> << </a></li>
        {% endif %}
        {% for item in page.adjacent_pages %}
        <li>
            <a class="{{ 'current' if item == page.current_page }} {{ 'disabled-link' if item == -1 }}"
               href="{{  '/collections/switches/' + item|string if item != -1 else '#'}}">
                {{ '...' if item == -1 else item }}
            </a>
        </li>
        {% endfor %}
        {% if page.has_next_page %}
        <li><a href="/collections/switches/{{ page.current_page + 1 }}">>></a></li>
        {% endif %}
    </ul>
</div>