{% set global_qs_search = '' if request.query_params.get('s') is none else request.query_params.get('s') %}
{% set global_qs_manufacturer = [] if request.query_params.get('manufacturer') is none else request.query_params.get('manufacturer').split(',') %}
{% set global_qs_stem = [] if request.query_params.get('stem') is none else request.query_params.get('stem').split(',') %}
{% set global_qs_top_mat = [] if request.query_params.get('top_mat') is none else request.query_params.get('top_mat').split(',') %}
{% set global_qs_bottom_mat = [] if request.query_params.get('bottom_mat') is none else request.query_params.get('bottom_mat').split(',') %}
{% set global_qs_is_available = 1 if request.query_params.get('is_available') is none else request.query_params.get('is_available')|int %}
{% set global_filter_count = 1 + (1 if global_qs_search else 0) + (global_qs_manufacturer|length) %}
{% set global_qs_type = '' if request.query_params.get('t') is none else request.query_params.get('t') %}
{% set global_qs_studio = '' if request.query_params.get('studio') is none else request.query_params.get('studio') %}
{% set global_qs_stor_box = '' if request.query_params.get('stor_box') is none else request.query_params.get('stor_box') %}
{% set global_qs_min_travel = 8 if request.query_params.get('min_travel') is none else request.query_params.get('min_travel') %}
{% set global_qs_max_travel = 26 if request.query_params.get('max_travel') is none else request.query_params.get('max_travel') %}
{% set global_qs_min_total_travel = 26 if request.query_params.get('min_total_travel') is none else request.query_params.get('min_total_travel') %}
{% set global_qs_max_total_travel = 40 if request.query_params.get('max_total_travel') is none else request.query_params.get('max_total_travel') %}
{% set global_qs_min_force = 10 if request.query_params.get('min_force') is none else request.query_params.get('min_force') %}
{% set global_qs_max_force = 70 if request.query_params.get('max_travel') is none else request.query_params.get('max_force') %}
{% set global_qs_min_total_force = 20 if request.query_params.get('min_total_force') is none else request.query_params.get('min_total_force') %}
{% set global_qs_max_total_force = 100 if request.query_params.get('max_total_force') is none else request.query_params.get('max_total_force') %}
<div class="widget_list widget_filter">
    <h2>Filter By</h2>
    <div class="filter__list filterTagList">
        {% if global_qs_is_available == 1 or global_qs_is_available == 2 %}
            <div class="filterTag" data-value="状态:{{ global_qs_is_available }}"
                 data-available="{{ global_qs_is_available }}">
                {{ '仓库中' if global_qs_is_available == 1 else '草稿' }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% for q in global_qs_manufacturer %}
            <div class="filterTag" data-value="{{ q }}">
                {{ q }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endfor %}
        {% for q in global_qs_stem %}
            <div class="filterTag" data-value="{{ q }}">
                轴心:{{ q }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endfor %}
        {% for q in global_qs_top_mat %}
            <div class="filterTag" data-value="{{ q }}">
                上盖:{{ q }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endfor %}
        {% for q in global_qs_bottom_mat %}
            <div class="filterTag" data-value="{{ q }}">
                底壳:{{ q }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endfor %}
        {% if global_qs_search %}
            <div class="filterTag" data-value="搜索:{{ global_qs_search }}">
                搜索:{{ global_qs_search }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% if global_qs_studio %}
            <div class="filterTag" data-value="工作室:{{ global_qs_studio }}">
                工作室:{{ global_qs_studio }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% if global_qs_stor_box %}
            <div class="filterTag" data-value="Store:{{ global_qs_stor_box }}">
            Store:{{ global_qs_stor_box }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% if global_qs_type %}
            <div class="filterTag" data-value="分类:{{ global_qs_type }}">
                分类:{{ global_qs_type }}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% if global_qs_min_travel != 8 or global_qs_max_travel != 26 %}
            <div class="filterTag" data-value="触发行程:{{ global_qs_type }}">
                触发行程:{{ global_qs_min_travel|int / 10}} - {{ global_qs_max_travel|int / 10}}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% if global_qs_min_total_travel != 26 or global_qs_max_total_travel != 40 %}
            <div class="filterTag" data-value="触底行程:{{ global_qs_type }}">
                触底行程:{{ global_qs_min_total_travel|int / 10}} - {{ global_qs_max_total_travel|int / 10}}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% if global_qs_min_force != 10 or global_qs_max_force != 70 %}
            <div class="filterTag" data-value="触发压力:{{ global_qs_type }}">
                触发压力:{{ global_qs_min_force }} - {{ global_qs_max_force}}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
        {% if global_qs_min_total_force != 20 or global_qs_max_total_force != 100 %}
            <div class="filterTag" data-value="触底压力:{{ global_qs_type }}">
                触底压力:{{ global_qs_min_total_force}} - {{ global_qs_max_total_force}}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-x" aria-hidden="true">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        {% endif %}
    </div>

    <div class="filter__list widget_brands">
        <h3 data-toggle="collapse" data-target="#brands">状态</h3>
        <ul class="widget_dropdown_categories collapse show row" style="flex-direction: row;" id="brands">
            <li class="col-6 factory-item factoryItem availableItem" data-field="is_available" data-value="1">
                <input id="defaultAvailable" class="switchFactoryCheck big-large-checkbox" {{ 'checked' if global_qs_is_available == 1 }}
                       type="checkbox"/>
                <span class="switchFactory big-factory {{ 'manufacturer-text' if global_qs_is_available == 1 }}">仓库中</span>
            </li>
            <li class="col-6 factory-item factoryItem availableItem" data-field="is_available" data-value="2">
                <input class="switchFactoryCheck big-large-checkbox" {{ 'checked' if global_qs_is_available == 2 }}
                       type="checkbox"/>
                <span class="switchFactory big-factory {{ 'manufacturer-text' if global_qs_is_available == 2 }}">草稿</span>
            </li>
        </ul>
    </div>
</div>
<div class="widget_list widget_categories">
    {#                            <h2>Categories</h2>#}
    <ul>
        <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse" data-target="#men">代工
            MANUFACTORY</a>
            <ul class="widget_dropdown_categories collapse show row" style="flex-direction: row;" id="men">
                {#                                        <li><a href="#"> New products <span>104</span></a></li>#}
                {% for item in manufacturers %}
                    <li class="col-6 factory-item factoryItem" data-field="manufacturer" data-value="{{ item.word }}">
                        <input class="switchFactoryCheck big-large-checkbox"
                               type="checkbox" {{ 'checked' if item.word in global_qs_manufacturer }}/>
                        <span class="switchFactory big-factory {{ 'manufacturer-text' if item.word in global_qs_manufacturer }}">{{ item.word }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse"
                                             data-target="#women">分类</a>
            <ul class="widget_dropdown_categories collapse show row" style="flex-direction: row;" id="typeFilter">
                {% for type in switches_types %}
                    <li class="col-6 {{ 'manufacturer-text' if global_qs_type == type.word }}"
                        data-value="{{ type.word }}"><a href="#"> {{ type.word }}
                        <span>{{ '✓' if global_qs_type == type.word }}</span></a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse">轴心</a>
            <ul class="widget_dropdown_categories collapse show row" style="flex-direction: row;">
                {#                                                        <li><a href="#"> New products <span>104</span></a></li>#}
                {% for item in stem_tops %}
                    <li class="col-6 factory-item factoryItem" data-field="stem_mat" data-value="{{ item.id }}">
                        <input class="switchFactoryCheck big-large-checkbox"
                               type="checkbox" {{ 'checked' if item.id in global_qs_stem }}/>
                        <span class="switchFactory big-factory {{ 'manufacturer-text' if item.id in global_qs_stem }}">{{ item.desc }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse">上盖</a>
            <ul class="widget_dropdown_categories collapse show row" style="flex-direction: row;">
                {% for item in top_mats %}
                    <li class="col-6 factory-item factoryItem" data-field="top_mat" data-value="{{ item.id }}">
                        <input class="switchFactoryCheck big-large-checkbox"
                               type="checkbox" {{ 'checked' if item.id in global_qs_top_mat }}/>
                        <span class="switchFactory big-factory {{ 'manufacturer-text' if item.id in global_qs_top_mat }}">{{ item.desc }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="widget_sub_categories"><a href="javascript:void(0)" data-toggle="collapse">底壳</a>
            <ul class="widget_dropdown_categories collapse show row" style="flex-direction: row;">
                {% for item in bottom_mats %}
                    <li class="col-6 factory-item factoryItem" data-field="bottom_mat" data-value="{{ item.id }}">
                        <input class="switchFactoryCheck big-large-checkbox"
                               type="checkbox" {{ 'checked' if item.id in global_qs_bottom_mat }}/>
                        <span class="switchFactory big-factory {{ 'manufacturer-text' if item.id in global_qs_bottom_mat }}">{{ item.desc }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <input type="text" id="studioInput" disabled hidden value="{{ global_qs_studio  }}">
        </li>
        <li>
            <input type="text" id="storBoxInput" disabled hidden value="{{ global_qs_stor_box }}">
        </li>
    </ul>
</div>
<div class="widget_list widget_filter">
    <div class="filter__list slider_range">
        <h3>触发行程</h3>
        <form action="#">
            <div id="travelSliderRange" data-unit="mm" data-range-min="5" data-range-max="30" data-min="{{ global_qs_min_travel }}" data-max="{{ global_qs_max_travel }}" style="height: 3px;"></div>
            <span>行程:</span>
            <input type="text" name="text"/>
        </form>
    </div>
    <div class="filter__list slider_range">
        <h3>触底行程</h3>
        <form action="#">
            <div id="totalTravelSliderRange" data-unit="mm" data-range-min="20" data-range-max="40" data-min="{{ global_qs_min_total_travel }}" data-max="{{ global_qs_max_total_travel }}" style="height: 3px;"></div>
            <span>行程:</span>
            <input type="text" name="text"/>
        </form>
    </div>
    <div class="filter__list slider_range">
        <h3>触发压力</h3>
        <form action="#">
            <div id="forceSliderRange" data-unit="g" data-range-min="5" data-range-max="70" data-min="{{ global_qs_min_force }}" data-max="{{ global_qs_max_force }}" style="height: 3px;"></div>
            <span>行程:</span>
            <input type="text" name="text"/>
        </form>
    </div>
    <div class="filter__list slider_range">
        <h3>触底压力</h3>
        <form action="#">
            <div id="totalForceSliderRange" data-unit="g" data-range-min="10" data-range-max="100" data-min="{{ global_qs_min_total_force }}" data-max="{{ global_qs_max_total_force }}" style="height: 3px;"></div>
            <span>行程:</span>
            <input type="text" name="text"/>
        </form>
    </div>
</div>