.big-factory {
    font-size: 15px;
    font-weight: 500;
}
.big-large-checkbox {
    transform: scale(1.2); /* 放大 1.5 倍 */
    transform-origin: center; /* 确保复选框在放大时保持居中 */
  }
  .sidebar-tag > div {
    border: 1px solid #000000;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 10px 0 0;
    padding: 4px 5px 4px 8px;
    display: inline-block;
}

.sidebar-tag > span:hover {
    background-color: #0000000d;
    color: red;
}
.filter-list {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
}

.filter-list li {
    flex: 0 0 auto; /* 布局不换行 */
    margin-right: 10px; /* 设置间距 */
}

.offcanvas-collapse {
    position: fixed;
    top: 56px; /* 顶部导航栏的高度 */
    bottom: 0;
    right: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    transform: translateX(0);
  }

  @media only screen and (max-device-width: 768px) {
    /* 在小屏幕设备上的样式 */
    .filter-container {
        display: none;
    }
  }