<div class="shop-sidebar mb-30 {{ mediaFilter }}">
    <h4 class="title">状态</h4>
    <ul id="switchFactoryList" class="filterList filter-list">
        <li>
            <input checked class="switchFactoryCheck big-large-checkbox" type="checkbox" data-field="is_available"
                   data-value="true"/>
            <span style="color: red; font-weight: bold" class="switchFactory big-factory" data-field="is_available"
                  data-value="true">仓库中</span>
        </li>
        <li>
            <input class="switchFactoryCheck big-large-checkbox" type="checkbox" data-field="is_available"
                   data-value="false"/>
            <span class="switchFactory big-factory" data-field="is_available" data-value="false">草稿</span>
        </li>
    </ul>
</div>