<!--                            <div class="filter__list widget_color d-flex align-items-center">-->
<!--                                <h3>select color</h3>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <input type="checkbox">-->
<!--                                        <span class="checkmark color1"></span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <input type="checkbox">-->
<!--                                        <span class="checkmark color2"></span>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <div class="filter__list widget_size d-flex align-items-center">-->
<!--                                <h3>select size</h3>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <a href="javascript:void(0)">S </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="javascript:void(0)"> M</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->

<!--                            <div class="variant_quantity_btn d-flex">-->
<!--                                <div class="pro-qty border">-->
<!--                                    <input min="1" max="100" type="tex" value="1">-->
<!--                                </div>-->
<!--                                <button class="button btn btn-primary" type="submit"><i class="ion-android-add"></i> Add-->
<!--                                    To Cart-->
<!--                                </button>-->
<!--                                <a class="wishlist" href="#"><i class="ion-ios-heart"></i></a>-->
<!--                            </div>-->