<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://switches.mx/css/style.css?id=1c58a17df6301f85939f">
{#    <script src="http://127.0.0.1:8000/js/site.js?id=6d3706a4ccf87b7ceb08"></script>#}
</head>
<body>
<div class="switchesmx">
    <div class="switchesmx__header-container container-fluid">
        <div class="row">
            <div class="col">
                <div class="switchesmx__header">
                    <a href="/">
                        <img src="/images/logo_medium.svg" class="switchesmx__header-logo" alt="Switches.mx logo"/>
                    </a>

                    <div class="switchesmx__header-social">
                        <a href="https://www.instagram.com/switches.mx/" target="_blank" rel="noopener noreferrer"
                           class="switchesmx__header-social-link" title="Instagram">
                            <img src="/images/social/instagram.svg" class="switchesmx__header-social-img"
                                 alt="Instagram"/>
                        </a>
                        <a href="https://discord.gg/pZxjvza" target="_blank" rel="noopener noreferrer"
                           class="switchesmx__header-social-link" title="Discord">
                            <img src="/images/social/discord.svg" class="switchesmx__header-social-img" alt="Discord"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="switchesmx__header-menu">
                    <li><a class="switchesmx__header-menu-link switchesmx__header-menu-link--active" href="/switches/">MX
                        Switches</a></li>
                    <li><a class="switchesmx__header-menu-link  switchesmx__header-menu-link--active" href="/vendors/">Vendors</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="switchesmx__body">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="switchesmx-list">
                        <div class="switchesmx-list__thead">
                            <div class="row">
                                <div class="col">
                                    <div class="c-switch__column c-switch__column--icon">
                                        <span class="c-switch__column-subtext c-switch__column-last-updated">Last updated</span>
                                    </div>
                                    <div class="c-switch__column c-switch__column--title">名字/品牌</div>
                                    <div class="c-switch__column c-switch__column--type">类型</div>
                                    <div class="c-switch__column c-switch__column--mount">Mount</div>
                                    <div class="c-switch__column c-switch__column--prices">价格</div>
                                    <div class="c-switch__column c-switch__column--materials">材质</div>
                                    <div class="c-switch__column c-switch__column--spring">弹簧</div>
                                    <div class="c-switch__column c-switch__column--stats">
                                        统计
                                        <div class="c-switch__column-subtext">
                                            <div class="c-switch__column-subtext-stat">触发压力</div>
                                            <div class="c-switch__column-subtext-stat">触底压力</div>
                                            <div class="c-switch__column-subtext-stat">触发行程</div>
                                            <div class="c-switch__column-subtext-stat">触底行程</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% block content %}
                        {% endblock %}


                        <div class="switchesmx-list__no-results">
                            <h3>Soon&trade;</h3>
                            <p>We don't have any switches that match your search. Yet.</p>
                        </div>
                    </div>

                    <div class="switchesmx-list__pagination">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="http://127.0.0.1:8000/switches?page=3" rel="prev"
                                       aria-label="« Previous">‹</a>
                                </li>
                                <li><a href="http://127.0.0.1:8000/switches?page=1">1</a></li>
                                <li><a href="http://127.0.0.1:8000/switches?page=2">2</a></li>
                                <li><a href="http://127.0.0.1:8000/switches?page=3">3</a></li>
                                <li class="active" aria-current="page"><span>4</span></li>
                                <li><a href="http://127.0.0.1:8000/switches?page=5">5</a></li>
                                <li><a href="http://127.0.0.1:8000/switches?page=6">6</a></li>
                                <li><a href="http://127.0.0.1:8000/switches?page=7">7</a></li>
                                <li><a href="http://127.0.0.1:8000/switches?page=8">8</a></li>
                                <li><a href="http://127.0.0.1:8000/switches?page=9">9</a></li>
                                <li>
                                    <a href="http://127.0.0.1:8000/switches?page=5" rel="next" aria-label="Next »">›</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="switchesmx-list__pagination-summary">
                            4 of 9 pages
                            <span class="switchesmx-list__pagination-summary-total">(There are 162 switches)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="switchesmx__footer-container container-fluid">
        <div class="row">
            <div class="col">
                <div class="switchesmx__footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Found a bug or issue?</h4>
                            Raise a new issue on GitHub<br/>
                            <a class="github-button" href="https://github.com/BWLR/switches.mx/issues" data-size="large"
                               data-show-count="true" aria-label="Issue BWLR/switches.mx on GitHub">Issue</a>
                        </div>
                        <div class="col-sm-6">
                            <h4>Want to get in touch?</h4>
                            Email <a href="mailto:k@switches.mx">k@switches.mx</a><br/>
                            Discord <a href="https://discordapp.com/users/BOWLER#2802">BOWLER#2802</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#        <script src="{{ mix src='/js/site.js' }}"></script>#}
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
